* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
 }

 .centeralign{
    text-align: center;
 }
 /***************************************************/
 body {
     color: #000;
     font-size: 18px;
     line-height: 1.4;
     font-family: 'Exo', sans-serif;
     background-color: #ebebeb;
}
header{

}
footer{
  background-color: black;
  padding: 20px 0px;
}
a {
  text-decoration: none;
  color: white;
}
h2{
  margin: 0;
}
nav{
  font-size: 24px;
  color: black;
}
nav ul{
  margin: 0;
  list-style: none;
}
.hamburger{
  width: 10%;
  margin-top: 10px;
}
.line{
  background: black;
  border-radius: 5px;
  height: 3px;
  margin-bottom: 5px;
}
.mobile-menu{
  display: none;
}
/****************************************************/
h1{
    font-weight: 700;
}
img{
  width: 60%;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}
section{
  margin: 30px 40px;
  font-weight: 400;
}
figcaption{
  font-weight: 300;
  font-size: 9px;
}
.social-media{
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
 /******************Media Queries****************/
 @media screen and (max-width: 40em) {
  .js #menu {
    display:none;
  }
  
  .js .slicknav_menu {
    display:block;
  }
}