* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.centeralign{
  text-align: center;
}
/**************Base Styles********************/
body {
  color: #fff;
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Exo', sans-serif;
  background-color: #28628C;
}
header{
  padding: 20px 0px;
}
footer{
  background-color: #093260;
  padding: 20px 0px;
}
a {
  text-decoration: none;
  color: black;
}
h2{
  margin: 0;
}
nav{
  font-size: 24px;
  color: black;
}
nav ul{
  margin: 0;
  list-style: none;
}

/*****************Page Styles*********************/
h1{
  font-weight: 700;
  color: #F8E076;
  font-size: 3em;
}
h2{
  font-size: 1.2em;
  margin-bottom: 5px;
}
h2, p{
  width: 47%;
  margin: 0 auto;
}
section i{
  margin-top: 5%;
}
footer{
  position: absolute;
  width: 100%;
  bottom: 0px;
}
.social-media{
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.social-media a{
  color: white;
}
/******************Media Queries****************/
@media screen and (max-width: 767px) {
  .js #menu {
    display:none;
  }
  
  .js .slicknav_menu {
    display:block;
  }
}

@media only screen and (min-width: 768px) {
  /******NAV******/
  .slicknav_menu{
    display: none;
  }
  .centernav{
    display: flex;
    justify-content: center;
  }
  nav ul a {
    padding: 15px;
    color: #fff;
    font-weight: 800;
    margin: 0 10px;
  }
  nav ul a,nav ul a:after,nav ul a:before {
    transition: all .5s;
  }
  nav ul a:hover {
    color: #F8E076;
  }
  nav.stroke ul a{
    position: relative;
  }
  nav.stroke ul a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #F8E076;
    height: 1px;
  }
  nav.stroke ul a:hover:after {
    width: 100%;
  }

}