* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
 }

 .centeralign{
    text-align: center;
 }
/*****************Base Styles*********************/
 body {
     color: #000;
     font-size: 18px;
     line-height: 1.4;
     font-family: 'Exo', sans-serif;
     background-color: #ebebeb;
}
header{

}
footer{
  background-color: black;
  padding: 20px 0px;
}
a {
  text-decoration: none;
  color: black;
}
h2{
  margin: 0;
}
nav{
  font-size: 24px;
  color: black;
}
nav ul{
  margin: 0;
  list-style: none;
}

/****************Page Styles********************/
  h1{
    font-weight: 700;
}
  .social-media{
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
  .social-media a{
    color: white;
}
  ul,ol,li{
    list-style: none;
}
  section p a{
    font-weight: bolder;
  }
 /******************Media Queries****************/
 @media screen and (max-width: 767px) {
  .js #menu {
    display:none;
  }
  
  .js .slicknav_menu {
    display:block;
  }
}

@media only screen and (min-width: 768px) {
  /******NAV******/
  .slicknav_menu{
    display: none;
  }
  .centernav{
    display: flex;
    justify-content: center;
/*    position: absolute;
    width: 100%;*/
    top: 2%;
  }
/*  nav ul a li {
    display: inline-block;
  }*/
  nav ul a {
/*    display: block;*/
    padding: 15px;
    color: #fff;
    font-weight: 800;
    margin: 0 10px;
  }
  nav ul a,nav ul a:after,nav ul a:before {
    transition: all .5s;
  }
  nav ul a:hover {
    color: #fff;
  }
  nav.stroke ul a{
    position: relative;
  }
  nav.stroke ul a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #fff;
    height: 1px;
  }
  nav.stroke ul a:hover:after {
    width: 100%;
  }
/******************************************/


}